#!/bin/bash
export LS_JAVA_OPTS="-Xmx512m -Xms512m"
nohup logstash -f ${LOGSTASH_HOME}/conf/logstash_node.conf 2>${LOGSTASH_HOME}/logs/logstash_node.log 1>${LOGSTASH_HOME}/logs/logstash_node.log &
